<mat-sidenav-container autosize="true">
  <mat-sidenav
    [style]="!isSidenavOpen ? 'expanded' : ''"
    [mode]="this.screenService.isMobile() ? 'over' : 'side'"
    [opened]="this.isSidenavOpen ? 'false' : 'true'">
    <mat-nav-list>
      <!-- Home -->
      <a mat-list-item
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="routerLinkActiveOptions">
        <span class="entry">
          <mat-icon>home</mat-icon>
          <span *ngIf="!isSidenavOpen || isMobile">Home</span>
        </span>
      </a>

      <!-- Products/Items -->
      <a mat-list-item
         routerLink="/items"
         routerLinkActive="active"
         [routerLinkActiveOptions]="routerLinkActiveOptions">
        <span class="entry">
          <mat-icon>storefront</mat-icon>
          <span *ngIf="!isSidenavOpen || isMobile">Products</span>
        </span>
      </a>

      <!-- Profile -->
      <a mat-list-item
         routerLink="/customer/profile"
         routerLinkActive="active">
        <span class="entry">
          <mat-icon>person_outline</mat-icon>
          <span *ngIf="!isSidenavOpen || isMobile">Profile</span>
        </span>
      </a>

      <!-- Orders -->
      <a mat-list-item
         routerLink="/customer/orders"
         routerLinkActive="active">
        <span class="entry">
          <mat-icon>receipt_long</mat-icon>
          <span *ngIf="!isSidenavOpen || isMobile">Orders</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
