mat-sidenav-container {
  height:100%;
}

mat-sidenav {
  padding-top: 3rem;
  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }

}

//removes the rounded border of the list item
.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius:0;

}
// Move the content down so that it won't be hidden by the toolbar
@media screen and (min-width: 600px) {
  mat-sidenav {
    padding-top: 3.5rem;
  }
}


// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}


/* Style for active link */
.active {
  background-color: coral;

}
