<div class="order-review-container">
  <div class="delivery-review-container">
    <div *ngIf="(delivery$ | async) as delivery">
      <mat-card class="delivery-card">
        <mat-card-header>
          <mat-card-title><h2>Delivery Information</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ delivery.firstName}} {{ delivery.lastName}}</p>
          <p>{{ delivery.phoneNumber }}</p>
          <p>{{ delivery.email }}</p>
          <p><strong>Address : </strong>{{ delivery.streetNumber }} {{ delivery.street }}</p>
          <p><strong>City : </strong> {{ delivery.city }}</p>
          <p><strong>Region : </strong> {{ delivery.region }}</p>
          <p><strong>Postal Code : </strong> {{ delivery.postalCode }}</p>
          <p><strong>Country : </strong> {{ delivery.country }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="cart-review-container">
    <div *ngIf="(cartItems$ | async) as cartItems">
      <mat-card class="delivery-card">
        <mat-card-header>
          <mat-card-title><h2>Order Review</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="cartItems.length > 0">
            <h3>Items</h3>
            <table mat-table [dataSource]="cartItems" class="mat-elevation-z8">
              <!-- Item Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Item Name </th>
                <td mat-cell *matCellDef="let cartItem"> {{ cartItem.item.name }} </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let cartItem"> {{ cartItem.quantity }} </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef> Unit </th>
                <td mat-cell *matCellDef="let cartItem"> {{ cartItem.item.price }} </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let cartItem"> {{ cartItem.quantity * cartItem.item.price }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <div>
        <h3>Total Price</h3>
        <p>{{ totalPrice$ | async | currency }}</p>
      </div>
    </div>
  </div>
  <div class="total-price-review-container">
  </div>
</div>
