<header class="text-gray-400 bg-black body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a  routerLink="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img class="w-10 h-10 text-white bg-red-500 rounded-full"
           src="/assets/img/club-decoration/club-logo.png">
      <span class="ml-3 text-xl text-red-800">BuyNature</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-xl text-base justify-center">
      <a routerLink="/" class="mr-5 hover:text-white">Accueil</a>
<br>
      <a routerLink="/items" class="mr-5 hover:text-white">Produits</a>
    </nav>
  </div>
</header>
