.container {
  padding: 24px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
