<div class="description-container">
    <mat-tab-group>
    <mat-tab label="Description">
      <h2>Miel du Morvan – Miel de Fleurs Sauvages</h2>
      <p>Suivant les années, sa robe varie, plus ou moins ambré il est issu de diverses fleurs sauvages qui s’expriment différemment suivant les années. Parfumé, il met en avant l’exceptionnelle biodiversité de notre territoire.</p>
      <p>Pour le Crémeux, suivant les années, sa robe varie également et il est plus ou moins ambré aussi. Il est également issu de diverses fleurs sauvages qui s’expriment différemment suivant les années mais il est brassé avec une pointe de trèfle, pour une texture plus crémeuse.</p>
      <p>LIEU DE COLLECTE : <a href="https://www.parcdumorvan.org/" target="_blank">PARC NATUREL RÉGIONAL DU MORVAN</a></p>
    </mat-tab>
    <mat-tab label="Information complémentaires"> Content 2 </mat-tab>
  </mat-tab-group>
</div>



