<div [formGroup]="paymentElementForm">
  <mat-card>
    <mat-card-content>
        @if (elementsOptions.clientSecret) {
            <ngx-stripe-elements
            [stripe]="stripe"
            [elementsOptions]="elementsOptions"
            >
            <ngx-stripe-payment [options]="paymentElementOptions" />
            </ngx-stripe-elements>
        } @else {
            <mat-spinner></mat-spinner>
        }
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="paying()" (click)="pay()">
            Comfirm Payment
        </button>
    </mat-card-actions>
 </mat-card>
</div>