.delivery-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
}
