/* grid container */
.holy-grail-grid {
  display:grid;
  grid-template-areas:
        'main-content'
        'right-sidebar'
        'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100vh; /* Ensures the grid fills the entire viewport height */
  box-sizing: border-box;
}

/* general column padding */
.holy-grail-grid > * {
  padding:1rem;
  box-sizing: border-box;
}


.holy-grail-grid > .main-content {
  grid-area:main-content;
  background:#fff;
}

.holy-grail-grid > .right-sidebar {
  grid-area:right-sidebar;
  background:#c5ed77;
}
.holy-grail-grid > .footer {
  grid-area:footer;
  background:#72c2f1;
}



/* desktop breakpoint */
@media (min-width: 768px) {
  .holy-grail-grid {
    grid-template-columns: 2fr 1fr; /* Ensures main-content takes up more space than sidebar */
    grid-template-areas:
      'main-content right-sidebar'
      'footer right-sidebar';
  }
}

/* mobile breakpoint */
@media (max-width: 767px) {
  .holy-grail-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'main-content'
      'right-sidebar'
      'footer';
  }
}
