<!--<div class="container responsive-grid">
<mat-grid-list [cols]="gridCols" [rowHeight]="gridRowHeight">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <ng-container #middleContainer></ng-container>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <ng-container #leftContainer></ng-container>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
    <ng-container #bottomContainer></ng-container>
  </mat-grid-tile>
</mat-grid-list>
</div>-->

<div class="holy-grail-grid">
  <main class="main-content">
      <ng-container #middleContainer ></ng-container>
  </main>
  <aside class="right-sidebar">
    <ng-container #leftContainer ></ng-container>
  </aside>
  <footer class="footer">
    <ng-container #bottomContainer c></ng-container>
  </footer>
</div>
