.items-details-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
      'main aside'
      'footer aside'
}

.carousel {
  grid-area: main;
  background:#fff;
}

.description {
  grid-area: footer;
  background:#c5ed77;

}

.buy-options {
  grid-area: aside;
  background:#72c2f1;
}

/* mobile breakpoint */
@media (max-width: 767px) {
  .items-details-container {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      'main '
      'aside'
      'footer'
  }
}
