/* grid container */
.holy-grail-grid {
  display:grid;
  grid-template-areas:
        'main-content'
        'right-sidebar'
        'footer';
}

/* general column padding */
.holy-grail-grid > * {
  padding:1rem;
}


.holy-grail-grid > .main-content {
  grid-area:main-content;
  background:#fff;
}

.holy-grail-grid > .right-sidebar {
  grid-area:right-sidebar;
  background:#c5ed77;
}
.holy-grail-grid > .footer {
  grid-area:footer;
  background:#72c2f1;
}



/* desktop breakpoint */
@media (min-width:1300px) {
  .holy-grail-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
            'main-content right-sidebar'
            'footer right-sidebar';
  }
}
