@use '@angular/material' as mat;

$themeM2-primary: mat.m2-define-palette(mat.$m2-amber-palette);
$themeM2-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);


$themeM2-warn: mat.m2-define-palette(mat.$m2-red-palette);


$themeM2: mat.m2-define-light-theme((
  color: (
    primary: $themeM2-primary,
    accent: $themeM2-accent,
    warn: $themeM2-warn,
  )
));


$themeM3: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.all-component-themes($themeM3);
  @include mat.all-component-themes($themeM2);
  @include mat.color-variants-backwards-compatibility($themeM3);
}

html {
  height: 100%;
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core();

