<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
  <!-- Step 1: Cart Confirmation -->
  <mat-step [stepControl]="cartForm">
    <form [formGroup]="cartForm">
      <ng-template matStepLabel>Cart</ng-template>
      <!-- Pass the formGroup from the parent to the child -->
      <app-cart [formGroup]="cartForm"></app-cart>
      <div class="stepper-button-container">
        <button mat-raised-button color="primary" matStepperNext [disabled]="!cartForm.valid">Delivery</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Delivery details -->
  <mat-step [stepControl]="deliveryForm">
    <form [formGroup]="deliveryForm">
      <ng-template matStepLabel>Delivery Details</ng-template>
      <app-delivery [formGroup]="deliveryForm" (deliveryConfirmedChange)="onDeliveryConfirmedChange($event)"></app-delivery>
      <div class="stepper-button-container">
        <button mat-raised-button color="primary" matStepperPrevious>Cart</button>
        <button mat-raised-button color="primary" matStepperNext (click)="confirmOrder()" [disabled]="!deliveryConfirmed">Order Review</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 3: Order Review  -->
  <mat-step [stepControl]="deliveryForm">
    <form [formGroup]="deliveryForm">
      <ng-template matStepLabel>Order Review</ng-template>
      <ng-container *ngIf="currentStepIndex === 2">
        <app-order-review></app-order-review>
      </ng-container>
      <div class="stepper-button-container">
        <button mat-raised-button color="primary" matStepperPrevious>Delivery Details</button>
        <button mat-raised-button color="primary" matStepperNext>Confirm Order</button>
      </div>
    </form>
  </mat-step>

   <!-- Step 4: Payment -->
   <mat-step [stepControl]="paymentForm">
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Payment</ng-template>
      <ng-container *ngIf="currentStepIndex === 3">
        <app-payment [formGroup]="paymentForm"></app-payment>
      </ng-container>
      <div class="stepper-button-container">
        <button mat-raised-button color="primary" matStepperPrevious>Order Review</button>
        <button mat-raised-button color="primary" matStepperNext (click)="clearOrder()">Confirm</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 5: Confirmation -->
  <mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <p>Your order has been placed successfully!</p>
    <button mat-raised-button color="primary" (click)="resetStepper(stepper)">Finish</button>
  </mat-step>
</mat-horizontal-stepper>
