.item-buy-options-container {

  display: grid;
  justify-items: center;
  grid-template-rows: 3fr repeat(2, 1fr) 3fr;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-areas:
      'header header '
      'header header '
      'aside main'
}

.add-to-cart-button-container{
  grid-area: main;
}

.quantity-selector-container {
  grid-area: aside;
}

