.item-buy-options-container {

  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 2fr repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
      'header'
      'main '
      'aside'
      'footer'
}

.add-to-cart-button-container{
  grid-area: footer;
}

.size-selector-container {
  grid-area: main;
}

.quantity-selector-container {
  grid-area: aside;
}

