<div class="item-buy-options-container">
    <div class="size-selector-container">
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select [(value)]="size">
          <mat-option value="S">Small</mat-option>
          <mat-option value="M">Medium</mat-option>
          <mat-option value="L">Large</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="quantity-selector-container">
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <mat-select [(value)]="quantity">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="add-to-cart-button-container">
      <button mat-fab extended (click)="addToCart()">
        Add to cart
      </button>
    </div>
</div>
